header{
    background-color: #FFFFFF;
}
.navbar{
background: #FFFFFF;
box-shadow: 0px -4px 16px -3px rgba(0, 0, 0, 0.12);
position: relative;
display: -ms-flexbox;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
padding: .5rem 1rem;
height: 10vh;

}

.fixed{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}

.active{
    text-decoration: underline;
    text-decoration-color: currentcolor;
    text-decoration-thickness: auto;
    text-decoration-color: rgb(57, 0, 213);
    text-decoration-thickness: 3px;
    text-underline-position: under;
}
.nav-element{
    text-decoration-style: none;
}