<header>
    <nav class="navbar fixed ">
        <a class="nav-item active" routerLink="/home">Home</a>
        <a class="nav-item" routerLink="/about">About</a>
        <a class="nav-item" routerLink="/projects">Projects</a>
        <a class="nav-item" routerLink="/careers">Careers</a>
        <a class="nav-item" routerLink="/contact">Contact us</a>
        <span class="nav-indicator"></span>
    </nav>

    <!-- <nav class="nav">
    <a href="#" class="nav-item is-active" active-color="orange">Home</a>
    <a href="#" class="nav-item" active-color="green">About</a>
    <a href="#" class="nav-item" active-color="blue">Testimonials</a>
    <a href="#" class="nav-item" active-color="red">Blog</a>
    <a href="#" class="nav-item" active-color="rebeccapurple">Contact</a>
    <span class="nav-indicator"></span> -->
<!-- </nav> -->
</header>

  
  